@import "./fonts";
@import "./reset";

@mixin widget {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.007em;
}
@mixin title {
  font-family: "Onest";
  font-style: normal;
  font-weight: 500;
  font-size: 88px;
  line-height: 76px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #1e1f1f;
}
@mixin btn {
  border: none;
  padding: 8px 16px;
  background: #056b53;
  border-radius: 100px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}
@mixin block {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  min-height: 520px;
  padding: 80px;
}
@mixin widget-title {
  font-family: "Onest";
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #1e1f1f;
  width: 100%;
}
@mixin widget-desc {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.007em;
  color: #1e1f1f;
}
body {
  background-color: rgba(250, 250, 250, 1);
}
.header {
  font-family: "Inter";
  height: 76px;
  &__wrapper {
  }

  &__logo-link {
  }

  &__tel-link {
    color: #056b53;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  &__btn {
    @include btn();
  }
  &__tel-link + &__btn {
    margin-left: 24px;
  }

  &__burger {
    position: relative;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: auto;
    display: none;
  }
  &__label-burger {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }

  &__input-burger {
    display: none;
  }
  .header__input-burger:checked ~ {
  }

  &__burger-line {
    height: 2px;
    width: 100%;
    background-color: #656666;
    border-radius: 5px;
  }
  &__burger-line::after {
    content: "";
    background-color: #656666;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    left: 0;
  }
  &__burger-line::before {
    content: "";
    background-color: #656666;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    position: absolute;
    bottom: 5px;
    left: 0;
  }
}
.window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.253);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s;
}
.burger-menu {
  width: 30%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 16px #333;
  padding: 25px;
  transform: translateX(100%);
  transition: 0.6s;
  &__nav {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
    margin-left: auto;
  }

  &__nav-link {
  }

  &__nav-linkm {
  }
  &__close-btn {
    cursor: pointer;
    position: absolute;
    z-index: 100;
  }
}
.header__input-burger:checked + .window {
  opacity: 1;
  visibility: visible;
}
.header__input-burger:checked + .window .burger-menu {
  transform: translateX(0%);
}
.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1230px;
  display: flex;
  margin: 0 auto;
  padding: 0 15px;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0 auto;
  &__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #1e1f1f;
  }
}
.main {
}

.promo {
  margin-bottom: 160px;
  background-image: url(/assets/icons/fruits.svg);
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
  background-size: 100%;
  margin-bottom: 79px;
  border-bottom: 1px solid #edf0fe;
  &__title {
    max-width: 1044px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    @include title();
  }

  &__desc {
    max-width: 588px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.007em;
    color: #1e1f1f;
    margin: 24px auto;
  }

  &__widget {
    @include widget();
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__btn {
    @include btn();
    max-width: 228px;
    font-family: "Inter";
    text-align: center;
    margin: 56px auto 0;
    padding: 16px 42.5px;
    margin-bottom: 79px;
  }

  &__widget-item {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 16px;
    max-width: 384px;
    background-color: #fff;
  }
}

.widget {
  &__img {
  }

  &__item-text {
    width: 218px;
    height: 62px;
  }
}
.about {
  &__title {
    @include title();
    margin-bottom: 48px;
  }

  &__block1 {
    background-image: url(/assets/icons/bg1.png);
    @include block();
    margin-bottom: 40px;
  }
  &__block2 {
    background-image: url(/assets/icons/bg2.png);
    @include block();
    margin-bottom: 40px;
  }
  &__block3 {
    background-image: url(/assets/icons/bg3.png);
    @include block();
  }
  &__wrapper {
    flex-direction: column;
    max-width: 1199px;
  }
  &__block-title {
    width: 630px;
    height: 92px;
    font-family: "Onest";
    font-weight: 500;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: -0.01em;
    color: #1e1f1f;
  }

  &__block-desc {
    width: 528px;
    height: 112px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.007em;
    color: #1e1f1f;
  }
  &__block-title + &__block-desc {
    margin-top: 20px;
  }
}
.section3 {
  margin-top: 80px;
  background-image: url(/assets/icons/stick.svg),
    url(/assets/icons/starberry.svg);
  background-repeat: no-repeat;
  background-position: 0 0, bottom 0px right -62px;

  &__title {
    @include title();
    max-width: 792px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 48px;
  }
  &__wrapper {
    flex-direction: column;
  }
  &__cards {
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // gap: 24px;
    // margin-bottom: 79px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-bottom: 79px;
  }

  &__cards-item {
    width: 100%;
    background-color: #fff;
    background-image: url(/assets/icons/icon.svg);
    background-repeat: no-repeat;
    background-position: top 32px left 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 18px;
    box-shadow: 0px 0px 20px rgba(66, 74, 72, 0.05);
    padding: 32px 32px 32px 104px;
  }

  &__cards-item--title {
    @include widget-title();
  }

  &__cards-item--desc {
    @include widget-desc();
  }
  &__cards-item--title + &__cards-item--desc {
    margin-top: 6px;
  }
}
.section4 {
  background-image: url(../assets/icons/plate.png),
    url(../assets/icons/note.png), url(../assets/icons/bg.png);
  background-repeat: no-repeat;
  background-size: calc(434px - 168px) 550px, 326px 660px, cover;
  width: 100%;
  min-height: 1010px;
  height: 100%;
  background-position: 0 160px, top 278px right 0px, 0 0;
  &__title {
    @include title();
  }

  &__steps {
    max-width: 792px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    row-gap: 134px;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 97px;
    margin-bottom: 80px;
  }

  &__step {
    width: 100%;
    max-width: 350px;
    padding: 4px;
    background: #edf0ef;
    border-radius: 100px;
    display: flex;
    align-items: center;
    position: relative;
    &::after {
      content: "";
      width: 298px;
      height: 94px;
      background-image: url(../assets/icons/Line1.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: absolute;
      top: calc(100% + 20px);
      left: 227px;
    }
    gap: 16px;
    &:nth-child(even) {
      align-self: end;
    }
    &:nth-child(even)::after {
      left: unset;
      right: 267px;
      background-image: url(../assets/icons/Line2.svg);
    }
    &:last-child::after {
      display: none;
    }
  }

  &__step-num {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0px 0px 12px rgba(76, 85, 82, 0.16);
    border-radius: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #1e1f1f;
  }

  &__step-text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: -0.007em;
    color: #1e1f1f;
  }
}
.price {
  background-color: #056b53;
  border-radius: 18px;
  min-height: 350px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-image: url(../assets/icons/price-image.png);
  background-repeat: no-repeat;
  background-size: 468px 356px;
  background-position: top 32px right 32px;

  &__wrapper {
    // max-width: 532px;
    padding-left: 32px;
    padding-top: 40px;
  }

  &__title {
    font-family: "Onest";
    font-weight: 500;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: -0.01em;
    color: #ffffff;
  }

  &__num {
    display: inline;
  }
  &__num + &__num {
    margin-left: 56px;
  }
  &__num1 {
    font-family: "Onest";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: -0.01em;
    color: #1e1f1f;
    position: relative;
    z-index: 10;
  }
  &__num1::before {
    content: "";
    background-image: url(../assets/icons/Subtract.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-position: center;
    width: 187px;
    height: 70px;
    z-index: -1;
  }
  &__num2 {
    font-family: "Onest";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: -0.01em;
    text-decoration-line: line-through;
    color: #ffffff;
  }

  &__btn {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.007em;
    color: #ffffff;
    padding: 16px 46.5px;
    background-color: #1e1f1f;
    border-radius: 100px;
    border: none;
    margin-top: 218px;
  }
}
.price::before {
  content: "";
  background-image: url(../assets/icons/price.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 40px 32px;
  position: absolute;
  width: 532px;
  height: 386px;
  z-index: 10;
}
.section5 {
  margin-top: 24px;
  width: 100%;
  background-image: url(../assets/icons/starberry2.png);
  background-repeat: no-repeat;
  background-size: 132.42px 161.74px;
  background-position: right -79px top -10px;
  padding-bottom: 0px;
  &__wrapper {
    flex-direction: column;
    width: 100%;
  }
  &__main {
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(66, 74, 72, 0.05);
    border-radius: 18px;
    padding: 32px;
  }
  &__main-title {
    @include widget-title();
    margin-bottom: 8px;
  }

  &__main-list-title {
    @include widget-desc();
    width: 100%;
  }

  &__main-list {
    padding: 0px 32px;
  }

  &__main-list-item {
    @include widget-desc();
    list-style-type: disc;
  }
  &__widgets {
    display: flex;
    margin: 0 auto;
    margin-top: 24px;
    gap: 24px;
  }
  &__widget {
    max-width: 384px;
    width: 100%;
    min-height: 300px;
    padding: 32px;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(66, 74, 72, 0.05);
    border-radius: 18px;
  }

  &__widget-title {
    @include widget-title();
    text-align: left;
    margin-bottom: 8px;
  }

  &__widget-text {
    @include widget-desc();
  }
}

.section5 .wrapper {
  flex-direction: column;
}
.widget2 {
  position: relative;
}
// .widget2::after {
//   content: "";
//   background-image: url(../assets/icons/radar-image.png);
//   background-repeat: no-repeat;
//   background-position: 54px 3px;
//   background-size: 228px;
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   z-index: 100;
// }
.widget2 {
  background-image: url(../assets/icons/radar-image.png);
  background-repeat: no-repeat;
  background-position: bottom 0px left 50%;
  background-size: 228px;
}

.widget3 {
  background-image: url(../assets/icons/chat-image.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 228px;
}

.answer {
  background-image: url(../assets/icons/list.png);
  background-repeat: no-repeat;
  background-size: 286.98px 449.79px;
  width: 100%;
  height: 100%;
  background-position: top -69px left 0;

  &__title {
    @include title();
    margin-bottom: 48px;
    margin-top: 80px;
  }

  &__item {
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(66, 74, 72, 0.05);
    border-radius: 18px;
    padding: 24px 32px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  &__item + &__item {
    margin-top: 12px;
  }
  &__item-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__item-title {
    @include widget-title();
  }

  &__item-text {
    @include widget-desc();
  }
  &__item-svg {
    cursor: pointer;
    transition: 0.3s;
  }
}

.accordion-container {
  position: relative;
  width: 100%;
  height: auto;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.accordion-container > h2 {
  text-align: center;
  color: #fff;
  padding-bottom: 5px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.set {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}
.set > .set__head {
  cursor: pointer;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(66, 74, 72, 0.05);
  border-radius: 18px;
  font-family: "Onest";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #1e1f1f;
  width: 100%;
  display: block;
  padding: 24px 32px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.set > .set__head i {
  float: right;
  margin-top: 2px;
  display: none;
}
.set > .set__head.active {
  border-radius: 18px 18px 0px 0px;
}
.set__head.active .answer__item-svg {
  transform: rotate(45deg);
}
.content {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-radius: 0px 0px 18px 18px;
  display: none;
}
.content p {
  padding: 10px 15px;
  margin: 0;
  color: #333;
}

.answer .wrapper {
  max-width: 1200px;
  width: 100%;
  flex-direction: column;
}

.footer {
  position: relative;
  margin-top: 76px;
  margin-bottom: 40px;
  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
    border-bottom: 1px solid #edf0ef;
    padding-bottom: 20px;
  }

  &__tel-link {
    font-family: "Onest";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #056b53;
  }

  &__menu {
    margin-left: auto;
  }

  &__menu-item {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.007em;
    color: #1e1f1f;
  }
  &__menu-item:last-child {
    color: #078f6f;
  }
  &__menu-item + &__menu-item {
    margin-left: 32px;
  }
}

.footer .wrapper {
  flex-direction: column;
  position: relative;
}

.copyrate {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.007em;
  color: #7e807f;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0px 15px;
}

@media (max-width: 1024px) {
  .nav {
    display: none;
  }
  .header {
    &__tel-link {
      display: none;
    }
    &__btn {
      display: none;
    }
    &__burger {
      display: flex;
    }
  }
  .promo {
    &__title {
      font-size: 64px;
    }
  }
  // .section4 {
  //   &__steps {
  //     max-width: 550px;
  //     width: 100%;
  //     row-gap: 90px;
  //   }
  //   &__step {
  //     max-width: 255px;
  //     gap: 8px;
  //   }
  //   &__step::after {
  //     background-size: 75%;
  //     left: 140px;
  //     top: 100%;
  //   }
  //   &__step:nth-child(even)::after {
  //     right: 112px;
  //   }
  // }
  .price {
    background-image: none;
  }
}
@media (max-width: 960px) {
  @mixin title {
    font-size: 50px;
  }
  .wrapper {
    width: 80%;
  }
  .promo {
    &__widget {
      gap: 6px;
    }
    &__widget-item {
      padding: 6px;
    }
  }
  .about {
    &__block1,
    &__block2,
    &__block3 {
      padding: 34px;
      min-height: 300px;
    }
    &__block-title {
      width: 400px;
      font-size: 26px;
      line-height: 30px;
    }
    &__block-desc {
      margin-top: -10;
      width: 65%;
    }

    &__wrapper {
      width: 80%;
    }
    .about__block-title + .about__block-desc {
      margin-top: -10px;
    }
    .section3 {
      margin-top: 0;
      &__cards {
        width: 85%;
        gap: 10px;
      }
      &__cards-item {
        padding: 16px 16px 16px 100px;
      }
    }
    .section4 {
      background-position: 0 112px, top 190px right 0;
      background-size: 30%;
      &__steps {
        max-width: 375px;
        width: 100%;
        row-gap: 7;
      }
      &__step-num {
        height: 40px;
        width: 40px;
        font-size: 26px;
      }
      &__step {
        max-width: 220px;
      }
      &__step::after {
        background-size: 55%;
        left: 45px;
        top: 80%;
        height: 104px;
      }
      &__step-text {
        font-size: 16px;
      }
      &__step:nth-child(even)::after {
        right: 31px;
      }
    }
    .price {
      max-width: 80%;
    }
    .section5 {
      &__main {
        max-width: 790px;
      }
      &__widgets {
        gap: 10px;
        margin-top: 10px;
        max-width: 780px;
      }
      &__widget {
        padding: 10px;
      }
      &__img {
        width: 40%;
      }
      &__widget-text {
        font-size: 16px;
      }
    }
    .accordion-container {
      max-width: 80%;
      margin: 0 auto;
    }
    .footer .wrapper {
      max-width: 80%;
      margin: 0 auto;
    }
  }
}
@media (max-width: 825px) {
  @mixin title {
    font-size: 20px;
  }
  .about {
    &__block1 {
      padding-bottom: 0;
    }
    &__block2 {
      padding-bottom: 0;
    }
    &__block3 {
      padding-bottom: 0;
    }
    &__block-title {
      margin-top: 250px;
      width: 100%;
      padding: 0;
    }
    &__block-desc {
      width: 100%;
      padding: 0;
    }
  }
  .section3 {
    &__cards {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .price{
    width: 95%;

  }
  .section5{
    &__widgets{
      flex-wrap: wrap;
      max-width: 750px;
    }
    &__widget{
      max-width: 750px;
    }
    .wrapper{
      width: 100%;
    }
  }
}
@media (max-width: 790px){
  .section4 {
  &__step {
    max-width: 300px;
  }
  &__step::after {
    background-size: 45%;
    left: 10px;
    top: 100%;
  }
  &__step:nth-child(odd) {
    align-self: center;
  }
  &__step:nth-child(even) {
    align-self: center;
  }
  &__step:nth-child(even)::after {
    right: 0;
  }
}
}

